<h1 class="text-center">
  Agregar o editar PC
</h1>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" [routerLink]="['/pc-lista']">
      <i class="fa fa-arrow-left"></i>
    </button>
  </div>
</div>

<div class="col-md-5">
  <div class="row animated fadeIn faster">
    <div class="col">
      <form #f="ngForm" (ngSubmit)="guardar(f)">
        <div class="form-group invisible">
          <label>Firebase ID</label>
          <input
            type="text"
            class="form-control"
            name="id"
            [(ngModel)]="pc.id"
            disabled="disabled"
            placeholder="Firebase ID"
          />
          <small class="form-text text-muted">Campo autogenerado</small>
        </div>
        <div class="form-group id-espacio">
          <label>Imagen URL</label>
          <input
            type="text"
            class="form-control"
            name="imagenUrl"
            [(ngModel)]="pc.imagenUrl"
            placeholder="Imagen URL"
            required
          />
        </div>
        <div class="form-group ">
          <label>Alias</label>
          <input
            type="text"
            class="form-control"
            name="alias"
            [(ngModel)]="pc.alias"
            placeholder="Alias"
            required
          />
        </div>
        <div class="form-group ">
          <label>CPU</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="pc.cpu"
            placeholder="CPU"
            name="cpu"
            required
          />
        </div>
        <div class="form-group ">
          <label>RAM</label>
          <input
            type="text"
            class="form-control"
            name="ram"
            [(ngModel)]="pc.ram"
            placeholder="RAM"
            required
          />
        </div>
        <div class="form-group ">
          <label>GPU</label>
          <input
            type="text"
            class="form-control"
            name="gpu"
            [(ngModel)]="pc.gpu"
            placeholder="GPU"
            required
          />
        </div>
        <div class="form-group ">
          <label>Almacenamiento</label>
          <input
            type="text"
            class="form-control"
            name="hdd"
            [(ngModel)]="pc.hdd"
            placeholder="HDD"
            required
          />
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-success btn-block">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
