<!--<div class="col-md-4" *ngFor="let pc of pcs">
  <div class="card text-center">
    <div
      class="card-header 
      border-primary
      d-flex justify-content-between align-items-center card-primary"
    >
      {{ pc.alias }}
      <button class="btn btn-danger" (click)="eliminarPc(pc.id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <img [src]="pc.imagen" class="card-img-top" id="imagen" />
    <div class="card-body">
      <p><b>CPU: </b>{{ pc.cpu }}</p>
      <p><b>RAM: </b>{{ pc.ram }}</p>
      <p><b>GPU: </b>{{ pc.gpu }}</p>
      <p><b>Almacenamiento: </b>{{ pc.hdd }}</p>
      <a
        [routerLink]="['/pcs/', pc.id]"
        class="btn btn-info btn-block"
      >
        Editar película
      </a>
    </div>
  </div>
</div>
-->